.outerBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: -6px 3px 23px -8px rgba(122, 122, 122, 1);
  -moz-box-shadow: -6px 3px 23px -8px rgba(122, 122, 122, 1);
  box-shadow: -6px 3px 23px -8px rgba(122, 122, 122, 1);
  font-size: medium;

  h2 {
    align-self: center;
  }

  div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:50px ;
    margin-right: 50px;
  }
}
