<form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
    <input formControlName="nombre" placeholder="Nombre">
    <input formControlName="descripcion" placeholder="Descripcion">
    <input formControlName="imagen" placeholder="Imagen">
    <input formControlName="precio" placeholder="Precio">
    <input formControlName="stock" placeholder="Stock">
    <button type="submit">Submit</button>
</form>

<div class="producto">
    <div>
      <ul>
        <li>
          <h3>{{ newProduct.id }}</h3>
  
          <h4>{{ newProduct.nombre }}</h4>
  
          <img src="{{ newProduct.imagen }}" alt="{{ newProduct.nombre }}" />
  
          <p>{{ newProduct.precio }} €</p>
  
          <p>{{ newProduct.descripcion }}</p>
  
          <p>Quedan {{ newProduct.stock }} articulos</p>
        </li>
      </ul>
    </div>
  </div>


