<div class="outerbox">
  <div class="form">
    <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="">Nombre</label>
        <input formControlName="nombre" placeholder="Nombre" />
      </div>
      <div>
        <label for="descripcion">Descripcion</label>
        <input formControlName="descripcion" placeholder="Descripcion" />
      </div>
      <div>
          <label for="iamgen">Imagen</label>
        <input formControlName="imagen" placeholder="Imagen" />
      </div>
      <div>
        <label for="precio">Precio</label>  
        <input formControlName="precio" placeholder="Precio" />
      </div>
      <div>
          <label for="stock">Stock</label>
        <input formControlName="stock" placeholder="Stock" />
      </div>
      <div>
        <button type="submit">Agregar</button>
        <div>
          <label for="id">ID</label>
        <input formControlName="id" placeholder="ID" />
      </div>
        <button class="btn-delete" (click)="onDelete()">Borrar</button>
      </div>
    </form>
  </div>

  <div class="output">
    <div>
      {{newProduct.id}}
    </div>
    <div>
      {{newProduct.nombre}}
    </div>
    <div>
      {{newProduct.descripcion}}
    </div>
    <div>
      <img src="{{newProduct.imagen}}" alt="{{newProduct.nombre}}">
    </div>
    <div>
      {{newProduct.precio}}
    </div>
    <div>
      {{newProduct.stock}}
    </div>
  </div>
  
