<footer>
    <div>
        <div class="div">
            <span>Síguenos en:</span>
        </div>
        <div>
            <ul>
                <li><a href="https://twitter.com">Twitter</a></li> 
                <img src="../../../assets/images/icons8-facebook.gif" alt="">
                <li><a href="https://facebook.com">Facebook</a></li>
                <img src="../../../assets/images/icons8-facebook.gif" alt="">
                <li><a href="https://instagram.com">Instagram</a></li>
                <img src="../../../assets/images/icons8-facebook.gif" alt="">
                <li><a href="https://tiktok.com">TikTok</a></li>
                <img src="../../../assets/images/icons8-facebook.gif" alt="">
            </ul>
        </div>
        <div>
            Copyright FLEX © 2023
        </div>
    </div>
</footer>
