<footer>
    <div class="line_1">
      <h4>Síguenos en:</h4>
    </div>
    <ul>
      <li>
        <div class="line_2">
          <a href="https://twitter.com">Twitter</a>
          <img src="./assets/images/twitter.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="line_2">
          <a href="https://www.facebook.com/">Facebook</a>
          <img src="./assets/images/facebook.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="line_2">
          <a href="https://instagram.com">Instagram</a>
          <img src="./assets/images/instagram.svg" alt="" />
        </div>
      </li>
      <li>
        <div class="line_2">
          <a href="https://tiktok.com">TikTok</a>
          <img src="./assets/images/tik-tok.svg" alt="" />
        </div>
      </li>
    </ul>

    <h4>Copyright FLEX © 2023</h4>
</footer>
