nav {
  padding: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  .nav_izq {
    position: relative;

    img {
      width: 300px;
      border: 10px solid #000000;
      border-radius: 50%;
      position: absolute;
      top: 57%;
      left: 920px;
      transform: translate(-50%, -50%);
    }

    .nav_izq_ul {
      ul {
        margin-top: 120px;
        display: flex;

        li:hover {
          font-weight: bold;
          transition: all 0.3s ease-in-out;
        }

        a {
          color: #0a0a0a;
          font-size: 20px;
          margin-left: 30px;
        }
      }
    }
  }
}

.nav_dcha{
    margin-right: 50px;
    margin-top: 90px;
    img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        padding: 12px;
        transition: all 0.3s ease-in-out;
      
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }
      
}