<header>
    <nav>
        <div class="nav_izq">
            <div class="nav_izq_img">
                <img src="../../../assets/images/flex-logo.png" alt="logo">
            </div>
            <div class="nav_izq_ul">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="productos">Productos</a></li>
                    <li><a routerLink="gestion">Gestion</a></li>
                </ul>
            </div>

        </div>
        <div class="nav_dcha">
            <img routerLink="login" src="../../../assets/images/usuario.png" alt="usuario" >
            <img src="../../../assets/images/configuraciones.png" alt="configuraciones">
            <img routerLink="registro" src="../../../assets/images/usuario.png" alt="usuario" >
        </div>
    </nav>
</header>